.fireplaces-container
	section.firewood#firewood
		h2 Дровяные камины
		p Имеем широкий модельный ряд каминных топок. Нашие долгосрочное и стабильное сотрудничество с ведущими европейскими и российскими производителями гарантирует только лучшее качество.
		button.show-models Смотреть модели
	.models-container
		.models-wrapper
			.model
				- var title = "Топка с прямым стеклом";
				- var link = "img/fireplaces_items/wood/01.jpg";
				- var preload = "img/giphy.gif";
				img(alt = title, data-src = link, src = preload)
				h3 #{title}
				p Такие топки можно сделать в квадратном виде, горизонтальном и вертикальном.
				button.modal-button Заказать
			.model
				- var title = "Топка пристенно-угловая";
				- var link = "img/fireplaces_items/wood/02.jpg";
				- var preload = "img/giphy.gif";
				img(alt = title, data-src = link, src = preload)
				h3 #{title}
				p Такая форма стекла увеличивает обзор топочной части, позволяя наслаждаться игрой пламени.
				button.modal-button Заказать
			.model
				- var title = "Топка трёхсторонняя";
				- var link = "img/fireplaces_items/wood/03.jpg";
				- var preload = "img/giphy.gif";
				img(alt = title, data-src = link, src = preload)
				h3 #{title}
				p Такой вид топки обеспечивает максимальный обзор пламени.
				button.modal-button Заказать
			.model
				- var title = "Топка с панорамным и призматическим стеклом";
				- var link = "img/fireplaces_items/wood/04.jpg";
				- var preload = "img/giphy.gif";
				img(alt = title, data-src = link, src = preload)
				h3 #{title}
				p Конфигурация стекла позволяет наблюдать за пламенем в широком диапазоне.
				button.modal-button Заказать
			.model
				- var title = "Туннельные топки";
				- var link = "img/fireplaces_items/wood/05.jpg";
				- var preload = "img/giphy.gif";
				img(alt = title, data-src = link, src = preload)
				h3 #{title}
				p Данный вид топок позволяет наблюдать за пламенем из двух помещений.
				button.modal-button Заказать
			.model
				- var title = "Островные камины";
				- var link = "img/fireplaces_items/wood/06.jpg";
				- var preload = "img/giphy.gif";
				img(alt = title, data-src = link, src = preload)
				h3 #{title}
				p Островок релакса и неспешной беседы в кругу друзей и близких.
				button.modal-button Заказать
			.model
				- var title = "В стиле Hi-Tech";
				- var link = "img/fireplaces_items/wood/07.jpg";
				- var preload = "img/giphy.gif";
				img(alt = title, data-src = link, src = preload)
				h3 #{title}
				//- p Брутальный вид каминов никого не оставляет равнодушным.
				button.modal-button Заказать