.fireplaces-container
	section.marble
		h2 Мраморные порталы
		p Природа создает неповторимый и уникальный рисунок в камне, мы придаем камню неповторимые и уникальные формы. Используем элементы бронзового литья и скульптурной резьбы по камню.
		button.show-models Смотреть модели
	.models-container
		.models-wrapper
			.model(data-marble)
				- var title = "Мраморный камин";
				- var link = "img/fireplaces_items/marble/17.jpg";
				img(src= link, alt= title )
				//- h3 #{title}
				//- p Это не просто отопительная система, это, пожалуй, главное украшение любого интерьера.
				//- button.modal-button Заказать
			.model(data-marble)
				- var title = "Мраморный камин";
				- var link = "img/fireplaces_items/marble/18.jpg";
				img(src= link, alt= title)
				//- h3 #{title}
				//- p Это не просто отопительная система, это, пожалуй, главное украшение любого интерьера.
				//- button.modal-button Заказать
			.model(data-marble)
				- var title = "Мраморный камин";
				- var link = "img/fireplaces_items/marble/19.jpg";
				img(src= link, alt= title)
				//- h3 #{title}
				//- p Это не просто отопительная система, это, пожалуй, главное украшение любого интерьера.
				//- button.modal-button Заказать
			.model(data-marble)
				- var title = "Мраморный камин";
				- var link = "img/fireplaces_items/marble/20.jpg";
				img(src= link, alt= title)
				//- h3 #{title}
				//- p Это не просто отопительная система, это, пожалуй, главное украшение любого интерьера.
				//- button.modal-button Заказать
			.model(data-marble)
				- var title = "Мраморный камин";
				- var link = "img/fireplaces_items/marble/21.jpg";
				img(src= link, alt= title)
				//- h3 #{title}
				//- p Это не просто отопительная система, это, пожалуй, главное украшение любого интерьера.
				//- button.modal-button Заказать
			.model(data-marble)
				- var title = "Мраморный камин";
				- var link = "img/fireplaces_items/marble/22.jpg";
				img(src= link, alt= title)
				//- h3 #{title}
				//- p Это не просто отопительная система, это, пожалуй, главное украшение любого интерьера.
				//- button.modal-button Заказать