.fireplaces-container
	.stove-fireplace
		h2 Печи-камины
		p Основное отличие печей от каминов в том, что печи накапливают тепло. И, даже после того, как угас последний уголек, печь продолжает ласково делиться своим теплом с вами.
		button.show-models Смотреть модели
	.models-container
		.models-wrapper
			.model
				- var title = "Кафельные печи";
				- var link = "img/fireplaces_items/wood/01.jpg";
				img(src= link, alt= title )
				h3 #{title}
				p Это не просто отопительная система, это, пожалуй, главное украшение любого интерьера.
				button.modal-button Заказать
			.model
				- var title = "Кафельные печи";
				- var link = "img/fireplaces_items/wood/02.jpg";
				img(src= link, alt= title)
				h3 #{title}
				p Это не просто отопительная система, это, пожалуй, главное украшение любого интерьера.
				button.modal-button Заказать
			.model
				- var title = "Кафельные печи";
				- var link = "img/fireplaces_items/wood/03.jpg";
				img(src= link, alt= title)
				h3 #{title}
				p Это не просто отопительная система, это, пожалуй, главное украшение любого интерьера.
				button.modal-button Заказать
			.model
				- var title = "Кафельные печи";
				- var link = "img/fireplaces_items/wood/04.jpg";
				img(src= link, alt= title)
				h3 #{title}
				p Это не просто отопительная система, это, пожалуй, главное украшение любого интерьера.
				button.modal-button Заказать
			.model
				- var title = "Кафельные печи";
				- var link = "img/fireplaces_items/wood/05.jpg";
				img(src= link, alt= title)
				h3 #{title}
				p Это не просто отопительная система, это, пожалуй, главное украшение любого интерьера.
				button.modal-button Заказать
			.model
				- var title = "Кафельные печи";
				- var link = "img/fireplaces_items/wood/06.jpg";
				img(src= link, alt= title)
				h3 #{title}
				p Это не просто отопительная система, это, пожалуй, главное украшение любого интерьера.
				button.modal-button Заказать
			.model
				- var title = "Кафельные печи";
				- var link = "img/fireplaces_items/wood/07.jpg";
				img(src= link, alt= title)
				h3 #{title}
				p Это не просто отопительная система, это, пожалуй, главное украшение любого интерьера.
				button.modal-button Заказать